name: "build"
on: [push, pull_request]
jobs:
  launch-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7.8'
          bundler-cache: true
      - name: Install gems
        continue-on-error: true
        run: |
          gem install bundler
          bundler install
      - name: Build
        run: |
          chmod +x *.sh
          ./build.sh
          cd _site
          zip -r ../big-website.zip *
          cd ..
          ls
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.7.6
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: _site # The folder the action should deploy.
      - name: Build
        run: sh run.sh
